/* style.css */
/* 전체 문서의 배경색과 글꼴 지정 */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}
/* 제목의 글자색 지정 */
h1 {
    color: #333;
}

/* 문단의 글자 크기 지정 */
p {
    font-size: 16px;
}

.box {
  width: 200px;
  padding: 20px;
  border: 5px solid black;
  margin: 15px;
}
